#cursor {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("assets/cursor.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
   z-index: 1000;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  transform: scaleX(-1);
  opacity: 0.1;
  pointer-events: none;
}

#button-section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-content: center;
  justify-content: center;
  gap: 5vh;
}

.selection-button {
  width: 10vh;
  height: 10vh;
  font-size: 1.5vh;
  border: none;
}

#popup {
  top: 0;
  left: 0;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  z-index: 999;
} #popup p {
  line-height: 2.5vh;
}

#popup-box {
  padding: 20px;
  max-width: 75%;
  background: white;
  border-style: solid;
  border-width: 5px;
  border-color: green;
  border-radius: 12px;
  text-align: center;
} #popup-box button {
  height: 7vh;
  width: 14vh;
  font-size: 2vh;
  color: white;
  background-color: green;
  border-radius: 10px;
}

#loading-message {
  color: red;
} #active-message {
  color: green;
  display: none;
}

#current-selection {
  padding-left: 1vh;
}